<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    img {
        height: 100px;
        width: 100px;
    }

    .container {
        display: flex;
        /*justify-content: center;*/
        /*justify-content: space-between;*/
        justify-content: space-around;

    }

    .row {
        width: 150px;
        text-align: center;
        margin-left:-15px;
        margin-right: -15px;
    }
</style>

<body>
    <div class="container">
        <div class="row" style="background-color: aqua;">
            <img src="One.webp" alt="Pexels">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="row" style="background-color: blueviolet;">
            <img src="One.webp" alt="One">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <div class="row" style="background-color: chartreuse;">
            <img src="One.webp" alt="Poter">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="row" style="background-color: darkseagreen;">
            <img src="One.webp" alt="Joker">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="row" style="background-color: darksalmon;">
            <img src="One.webp" alt="Yasmine">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    <div class="main">
        <div class="child"></div>
    </div>

</body>

</html>