<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM_TASK</title>
</head>
<body>
    <h1>This is an in-class form task</h1>
    <form action="" method="">
        <label for="usname">Username:</label><br>
        <input type="text" name="usname" id="usname" placeholder="Enter your username" required><br>
        <label for="psw">Password:</label><br>
        <input type="password" name="psw" id="psw" placeholder="Enter your password" required><br>
        <label for="emp">City Of Employment:</label><br>
        <input type="text" name="emp" id="emp" placeholder="Enter your city of employment" required><br>
        <br>
        <label for="server">Web Server:</label>
        <select name="server" id="server">
            <option value="Choose">-Choose your server-</option>
            <option value="server1">Server 1</option>
            <option value="server2">Server 2</option>
            <option value="server3">Server 3</option>
            <option value="server4">Server 4</option>
            <option value="server5">Server 5</option>
        </select><br>
        <br>
        <label for="role">Please Specify your role:</label><br>
        <input type="radio" name="role">Admin<br>
        <input type="radio" name="role">Engineer<br>
        <input type="radio" name="role">Manager<br>
        <input type="radio" name="role">Guest<br>
        <br>
        <label for="signon">Single Sign-on to the following:</label><br>
        <input type="checkbox" name="signon" id="signon">Mail<br>
        <input type="checkbox" name="signon" id="signon">Payroll<br>
        <input type="checkbox" name="signon" id="signon">Self-Servive<br>
        <br>
        <input type="submit" value="LOGIN">
        <input type="reset" value="RESET">
    </form>
</body>
</html>