<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <a href="https://x.com/drewnjagi" target="_blank"><i class="fa-brands fa-x-twitter fa-sm" style="color: #000a11;"></i></a> <br>
    <a href="https://www.tiktok.com/@anshegi7?lang=en" target="_blank"><i class="fa-brands fa-tiktok" style="color: #000000;"></i></a> <br>
    <a href="https://www.instagram.com/drew_njagi/" target="_blank"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a><br>
    <a href="https://www.linkedin.com/in/sheldon-njagi-55801830b/" target="_blank"><i class="fa-brands fa-linkedin fa-beat" style="color: #2f98d0;"></i></a> <br>
    
    <h2>Unordered List</h2>
    <ul>
        <li>html</li>
        <li>css</li>
        <li>javascript</li>
        <li>flask</li>
    </ul>

    <h2>Ordered List</h2>
    <ol>
        <li>html</li>
        <li>css</li>
        <li>javascript</li>
        <li>flask</li>
    </ol>

    <h2>Decsription List</h2>
    <dl>
        <dt>HTML</dt>
        <dd>Markup language used for structuring and giving content on the web.</dd>
        <dt>Java</dt>
        <dd>A high-level, class-based, object-oriented programming language that is designed to have as few implementation
            dependencies as possible.</dd>
        <dt>Javascript</dt>
        <dd>A high-level, dynamic, and interpreted programming language that conforms to the ECMAScript specification.</dd>
        <dt>SQL</dt>
        <dd>A standard language for managing relational databases.</dd>
        <dt>Flask</dt>
        <dd>Python Framework</dd>
        <dt>CSS</dt>
        <dd>Cascading Style Sheets is a styling language used to control the layout and appearance of web pages</dd>
    </dl>
</body>
</html>
