<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>

</style>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Certifications Training</a></li>
            <li><a href="">Training Bootcamps</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Student Portal</a></li>
        </ul>
    </nav>
</body>
</html>