<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTFrNmFBpzPfDvDX8m4i7KdjsoNxzK2E62a/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/brands.min.css" integrity="sha512-EJp8vMVhYl7tBFE2rgNGb//drnr1+6XKMvTyamMS34YwOEFohhWkGq13tPWnK0FbjSS6D8YoA3n3bZmb3KiUYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/fontawesome.min.css" integrity="sha512-B46MVOJpI6RBsdcU307elYeStF2JKT87SsHZfRSkjVi4/iZ3912zXi45X5/CBr/GbCyLx6M1GQtTKYRd52Jxgw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   <h1>Name: Sheldon Njagi</h1>
   <h2>Email:sheldonnjagi@gmail.com</h2>
   <h2>Phone Number: +254712345678</h2>
   <h2>Location: Nairobi, Kenya</h2>

   <img src="D:\EDUCATION\PROGRAMMING\PROGRAMMING PROJECTS\TECHCAMP\HTML STUDY\images\Profile_Image.png" alt="Profile Picture"><br>
   <h3>My Projects</h3>
   <table border="">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Language</th>
            <th>Marks</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Youth Alive Kenya Web App</td>
            <td>2018-2019</td>
            <td>JavaScript</td>
            <td>67</td>
        </tr>
        <tr>
            <td>Binary Aid Modile App</td>
            <td>2019-2020</td>
            <td>Python</td>
            <td>70</td>
        </tr>
        <tr>
            <td>Eve's Mama Clinic Erd</td>
            <td>2020-2021</td>
            <td>Java</td>
            <td>72</td>
        </tr>
        <tr>
            <td>Thika Kitchen Enterprise App</td>
            <td>2021-2022</td>
            <td>C++</td>
            <td>75</td>
        </tr>
        <tr>
            <td> Simba Technologies Mobile App</td>
            <td>2022-2023</td>
            <td>JavaScript,Kotlin</td>
            <td>78</td>
        </tr>
        <tr>
            <td>Tan Pharmaceutical Website</td>
            <td>2023-2024</td>
            <td>Html,Css,JavaScript</td>
            <td>85</td>
        </tr>
    </tbody>
   </table>

   <h1>About Me</h1>
   <p>I am Sheldon Njagi, born and raised in Kirinyaga, Kenya. As I embark on my journey into tech and programming, I bring with me some foundational programming experience and a strong eagerness to learn. This is just the start of my exploration in the tech field, and I’m excited about the opportunities for growth and discovery ahead.</p>

   <h2>My Socials</h2>
   <a href="https://www.facebook.com/sheldon.andrew.58" target="_blank"><i class="fa-brands fa-square-facebook fa-beat" style="color: #0080ff;"></i></a><br>
   <a href="https://x.com/drewnjagi" target="_blank"><i class="fa-brands fa-x-twitter fa-beat" style="color: #000000;"></i></a><br>
   <a href="https://www.tiktok.com/@anshegi7" target="_blank"><i class="fa-brands fa-tiktok fa-flip" style="color: #000000;"></i></a><br>
   <a href="https://www.instagram.com/drew_njagi/" target="_blank"><i class="fa-brands fa-instagram fa-flip" style="color: #ff0909;"></i></a><br>

   <h1>My Skills</h1><br>
   <ol>
    <li>Data Analysis</li>
    <li>Software Development</li>
    <li>CyberSecurity</li>
    <li>Web Design</li>
    <li>Graphics Design</li>
   </ol>

   <h1>My Hobbies</h1><br>
   <ul>
    <li>Reading</li>
    <li>Watching Documentaries</li>
    <li>Playing Chess</li>
    <li>Listening to Podcasts</li>
    <li>Swimming</li>
    <li>Biking</li>
   </ul>

   <h1>Alma Mater</h1><br>
   <dl>
    <dt>Data Analysis</dt>
    <dd>University of Nairobi 2019-2020</dd>
    <dt>Software Development</dt>
    <dd>TechCamp Africa 2020-2021</dd>
    <dt>CyberSecurity</dt>
    <dd>Moringa School 2021-2022</dd>
    <dt>Web Design</dt>
    <dd>African Leadership University 2022-2023</dd>
    <dt>Graphics Design</dt>
    <dd>Kirinyaga University 2023-2024</dd>
   </dl>
</body>
</html>